@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("/src/assets/font/Montserrat-Bold.ttf");
}

* {
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-bold";
}
.custom-shape {
  width: 200px;
  height: 250px;
  border: 7px solid #f46322; /* Replace with your desired color */
  border-radius: 30px;
  position: relative;
}
.color-change {
  border: 7px solid #247793;
}

.custom-shape::before {
  position: absolute;
  height: 60px;
  width: 7px;
  border: none;
  top: 50%;
  left: 0;
  content: "";
  background-color: white;
  margin-left: -7px;
  margin-top: -24px;
}
.first-step::before {
  background-color: #247793;
}
.custom-shape::after {
  position: absolute;
  height: 50px;
  width: 7px;
  border: none;
  top: 50%;
  right: 0;
  content: "";
  background-color: white;
  margin-right: -7px;
  margin-top: -24px;
}
.last-step::after {
  background-color: #f46322;
}

.arrow {
  position: relative;
  margin: 0 auto;
  width: 100px;
}

.arrow .curve {
  border: 7px solid #f46322;
  border-color: #f46322 transparent transparent #f46322;
  height: 33px;
  width: 60px;
  border-radius: 330px 0 0 0;
  position: absolute;
  z-index: 100;
  top: 119px;
  left: 143px;
}

.arrow .blue-curve {
  border-color: #247793 transparent transparent #247793;
}

.arrow .point {
  position: absolute;
  left: 202px;
  top: 120px;
}

.arrow .point:before,
.arrow .point:after {
  border: 3px solid #f46322;
  height: 30px;
  content: "";
  position: absolute;
}

.arrow .blue-point:before,
.arrow .blue-point:after {
  border: 3px solid #247793;
}

.arrow .point:before {
  top: -1px;
  left: -10px;
  transform: rotate(30deg);
  /* -webkit-transform: rotate(-74deg); */
  /* -moz-transform: rotate(-74deg); */
  /* -ms-transform: rotate(-74deg); */
}

.arrow .point:after {
  top: -24px;
  left: -10px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}

/* .custom-shape::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  width: 40px;
  height: 30px;
  background-color: #f46322;
}

.custom-shape::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%) rotate(45deg);
  width: 15px;
  height: 15px;
  border-top: 3px solid #f46322;
  border-right: 3px solid #f46322;
} */

@keyframes move1 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, -10px);
  }
}

@keyframes move2 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, 10px);
  }
}

@keyframes move3 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

@keyframes move4 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(10px, 10px);
  }
}

.animate-move1 {
  animation: move1 3s ease-in-out infinite;
}

.animate-move2 {
  animation: move2 3s ease-in-out infinite;
}

.animate-move3 {
  animation: move3 3s ease-in-out infinite;
}

.animate-move4 {
  animation: move4 3s ease-in-out infinite;
}

.react-international-phone-country-selector-button,
.react-international-phone-input-container .react-international-phone-input {
  border: none;
  background-color: transparent;
}

/* .custom-border::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  margin: -20px;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  background-color: black;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
