@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/font/Montserrat-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-bold";
  src: url("/src/assets/font/Montserrat-Bold.ttf");
  font-display: swap;
}

* {
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-bold";
}

.react-international-phone-country-selector-button,
.react-international-phone-input-container .react-international-phone-input {
  border: none;
  background-color: transparent;
}

.Typewriter {
  display: inline;
}

@media (min-width: 1024px) {
  .slick-dots li button:before {
    margin-top: 0px;
  }
}
@media (min-width: 640px) {
  .slick-dots li button:before {
    margin-top: 10px;
  }
}
/* @media (min-width: 450px) {
  .slick-dots li button:before {
    margin-top: 20px;
  }
}
@media (max-width: 408px) {
  .slick-dots li button:before {
    margin-top: 30px;
  }
}
@media (max-width: 408px) {
  .slick-dots {
    bottom: 0;
  }
} */
@media (max-width: 450px) {
  .slick-dots {
    display: none !important;
  }
}
.slick-dots li.slick-active button:before {
  font-size: 13px;
}

.static-text {
  transition: opacity 0.5s ease-in-out;
}

.cursor-hero {
  font-size: 17px;
}

@media (min-width: 340px) {
  .typewriter-text {
    font-size: 14px; /* Example size for medium screens */
  }
}
@media (min-width: 768px) {
  .typewriter-text {
    font-size: 18px; /* Example size for medium screens */
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
